{#
/**
 * @file
 * Theme implementation to display a Leaflet map.
 *
 * This creates a placeholder for the map to be injected in.
 *
 * Available variables:
 * - map_id
 * - height
 *
 * @ingroup themeable
 */
#}
<div id="{{ map_id }}" style="height: {{ height }}"></div>
